/* General setup */

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: white;
}

h1,
h3,
h4 {
    font-family: 'Arvo', serif;
}

/* Header */

header {
    background: #30475E;
    color: #EEEAED;
    padding: 30px 0;
}

h1 {
    font-size: 3rem;
}

h3 span {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h3 span {
        font-size: 1.2rem;
    }
}

/* Main area */

#container-section {
    padding: 50px 0;
    background: url(../images/bg1.jpg) no-repeat center center;
    background-size: cover;
}

#main-area {
    width: 700px;
    -webkit-box-shadow: 5px 5px 20px 2px #7D7B7D; 
    box-shadow: 5px 5px 20px 2px #7D7B7D;
    margin: 0 auto;
    background: #F5F5F5;
    border-radius: 10px;
    padding-bottom: 30px;
}

#retirement-age {
    width: 70%;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    #main-area {
        width: 90%;
    }
}

/* --> Input area */

.input-container {
    display:grid;
    grid-template-columns: 7fr 3fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    margin-right: 20%;
}

.input-container label {
    text-align: right;
}


.input-container input {
    background: #F5F5F5;
    border: 1px solid #7D7B7D;
    padding: 5px 10px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 5px 1px #7D7B7D; /* With the help of - https://html-css-js.com/css/generator/box-shadow/ */
    box-shadow: 1px 1px 5px 1px #7D7B7D;
}

.input-container input:focus {
    outline: none;
    border: 1px solid #30475E;
    box-shadow: 0 0 5px #30475E;
    background: white; /* With the help of https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus */
}

/* With the help of https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.input-container input::-webkit-outer-spin-button,
.input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

/* With the help of https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.input-container input[type=number] {
    -moz-appearance: textfield;
}

#warning {
    color: #F05454;
    padding-top: 20px;
    font-weight: bold;
}

button {
    background: #F05454;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 25px;
    margin: 30px 0;
    -webkit-box-shadow: 1px 1px 5px 1px #7D7B7D; 
    box-shadow: 1px 1px 5px 1px #7D7B7D;
}


button:hover {
    background: #30475E;
    transform:scale(1.03,1.03); /* With the help of https://stackoverflow.com/questions/20504346/increasing-the-width-of-button-by-a-few-percent-on-hover */
    -webkit-transform:scale(1.03,1.03);
    -moz-transform:scale(1.03,1.03);
}

hr {
    border-top: 3px solid #30475E;
    width: 400px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .input-container {
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .input-container label {
        text-align: center;
    }

    .input-container input {
        width: 250px;
        margin: 0 auto;
    }

    hr {
        width: 300px;
    }
}

/* --> Output area */

.hidden {
    display: none;
}

#output-area p {
    padding-bottom: 30px;
}

.large-p {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 20px;
}

#portfolio-val, 
#savings-val,
#roi-val {
    color: #30475E;
    font-size: 1.4rem;
}

#send-email {
    background: #30475E; 
}

#send-email:hover {
    background: #F05454;
    transform:scale(1.03,1.03); /* With the help of https://stackoverflow.com/questions/20504346/increasing-the-width-of-button-by-a-few-percent-on-hover */
    -webkit-transform:scale(1.03,1.03);
    -moz-transform:scale(1.03,1.03);
}

#email-form {
    margin-top: 30px;
}

#email-form p {
    font-size: 1.2rem;
}

#email-form input {
    margin-left: 20px;
    background: #F5F5F5;
    border: 1px solid #7D7B7D;
    padding: 5px 10px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 5px 1px #7D7B7D; /* With the help of - https://html-css-js.com/css/generator/box-shadow/ */
    box-shadow: 1px 1px 5px 1px #7D7B7D;
}

#email-form input:focus {
    outline: none;
    border: 1px solid #30475E;
    box-shadow: 0 0 5px #30475E;
    background: white;
}

/* FAQ area */

#faq-heading {
    font-size: 1.5rem;
    padding: 30px;
}
        /* The following CSS base code regarding the flipping cards is taken from https://www.w3schools.com/howto/howto_css_flip_card.asp, but was remodelled based on own preferences. */
.flip-card {
    background-color: transparent;
    width: 320px;
    height: 440px;
    perspective: 1000px;
    display: inline-block;
    margin: 0 30px 60px;
  }

  .flip-card-inner {
    
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 5px 1px #7D7B7D; 
    box-shadow: 1px 1px 5px 1px #7D7B7D;
  }

  .flip-card-front {
    background-color: #30475E;
    color: #EEEAED;
  }

  .flip-card-back {
    background-color: #EEEAED;
    color: #30475E;
    transform: rotateY(180deg);
  }

  .question-card {
      font-size: 1.5rem;
      padding: 120px 20px 0;
  }

  .answer-card {
      font-size: 1.1rem;
      padding: 30px 30px 0;
  }

  .flip-card-back img {
      margin-top: 50px;
      width: 150px;
      height: 150px;
  }

  .small-screen-card,
  .small-screen-image {
      display: none;
  }

  @media screen and (max-width: 1024px) {
    .flip-card {
        height: 470px;
    }

      .question-card {
          padding: 30px 20px 30px;
          font-size: 1.3rem;
      }

      .small-screen-card {
          font-size: 1rem;
          display: block;
          padding: 0 25px;
      }

      .small-screen-image {
          width: 150px;
          height: 150px;
          display: block;
          margin: 0 auto;
          margin-bottom: 20px;
      }

      .small-screen-card a {
          color: #F05454;
      }

      .flip-card:hover .flip-card-inner {
        transform: none;
      }
  }

/* Footer area */

footer {
    background: #30475E;
    color: #EEEAED;
}

.footer-top {
    font-size: 1.15rem;
    padding: 30px 0 15px;
}

.social-links i {
    color: #F05454;
    font-size: 1.5rem;
    padding: 10px 20px;
}

.social-links i:hover {
    transform:scale(1.2,1.2); /* With the help of https://stackoverflow.com/questions/20504346/increasing-the-width-of-button-by-a-few-percent-on-hover */
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
}

.footer-bottom {
    font-size: 0.8rem;
    padding: 15px 0;
}